<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        {{ form_errors(bookFormView.title) }}
        <div class="book-form-title">
            {{ form_widget(bookFormView.title, { 'attr': {'class': 'widget-form-title'} }) }}
        </div>
    </div>

    <div>
        {{ form_label(bookFormView.category) }}
        {{ form_errors(bookFormView.category) }}
        {{ form_widget(bookFormView.category) }}
    </div>

    <div>
        {{ form_label(bookFormView.nbPages) }}
        {{ form_errors(bookFormView.nbPages) }}
        {{ form_widget(bookFormView.nbPages) }}
    </div>

    <div>
        {{ form_label(bookFormView.resume) }}
        {{ form_errors(bookFormView.resume) }}
        {{ form_widget(bookFormView.resume) }}
    </div>

    <div>
        {{ form_row(bookFormView.submit) }}
    </div>

</body>
</html>